$primary-color-lv: #77787b;
$third-color-lv: #96a4b5;

$color_linkValue: #3A607C;  /* Main Primary color */
$color_linkValue--lighter: #8DA6B9;
$color_linkValue--light: #5E7E97;
$color_linkValue--dark: #1F4562;
$color_linkValue--darker: #0B2C45;

$color_linValue__secondary: #C16C53;  /* Main Secondary color (1) */
$color_linValue__secondary--lighter: #FFCDBF;
$color_linValue__secondary--light: #EAA18B;
$color_linValue__secondary--dark: #98422A;
$color_linValue__secondary--darker: #6C200A;

$color_linkValue__ternary: #3B885F;  /* Main Secondary color (2) */
$color_linkValue__ternary--lighter: #94C5AB;
$color_linkValue__ternary--light: #62A682;
$color_linkValue__ternary--dark: #1D6C42;
$color_linkValue__ternary--darker: #074C27;

$color_linkValue__complementary: #C19253; /* Main Complement color */
$color_linkValue__complementary--lighter: #FFE4BF;
$color_linkValue__complementary--light: #EAC28B;
$color_linkValue__complementary--dark: #98692A;
$color_linkValue__complementary--darker: #6C420A;

$body-bg: #f5f5f5;
$tabbar-bg: hsla(0,0%,0%,0);
$tabbar-menu-icon-color: $primary-color-lv;
