.timeline .step {
  &.source:before {
    content: "\f133";
    border-color: $second-color-lv;
    color: $second-color-lv;
  }
  &.prequal:before {
    content: "\f1f8";
    border-color: $second-color-lv;
    color: $second-color-lv;
  }
  &.fp:before {
    content: "\f128";
    border-color: $second-color-lv;
    color: $second-color-lv;
  }
  &.propa:before {
    content: "\f1ee";
    border-color: $second-color-lv-chromatic2;
    color: $second-color-lv-chromatic2;
  }
}
