<div class="sticky">
  <top-bar>
    <top-bar-section>
      <ul class="left">
        <li class="has-dropdown">
          <a href>HuntR</a>
          <ul class="dropdown">
            <li class="active"><a href="#">HuntR</a></li>
            <li><a href="#">LinkR</a></li>
            <li><a href="#">DextR</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li class="top-bar-breadcrumbs">
          <span><a href="#">HuntR</a></span>
          <span class="unavailable"><a>Candidat</a></span>
          <span class="current"><a>Process</a></span>
        </li>
      </ul>
      <ul class="right">
        <li class="divider"></li>
        <li>
          <a href="#">Elodie</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#"><i class="fi-power"></i></a>
        </li>
      </ul>
    </top-bar-section>
  </top-bar>
</div>
<aside class="right-off-canvas-menu">
  <ul class="off-canvas-list">
    <li><a href="#">Right Sidebar</a></li>
  </ul>
</aside>
