<div class="sticky">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
    <section class="top-bar-section">
      <ul class="left">
        <li class="has-dropdown">
          <a href>HuntR</a>
          <ul class="dropdown">
            <li class="active"><a href="#">HuntR</a></li>
            <li><a href="#">LinkR</a></li>
            <li><a href="#">DextR</a></li>
          </ul>
        </li>
        <li class="divider"></li>
      </ul>
      <ul class="right">
        <li class="divider"></li>
        <li>
          <a href="#">Elodie</a>
        </li>
        <li>
          <a href="#"><i class="fi-power"></i></a>
        </li>
      </ul>
    </section>
  </nav>
</div>
<ul class="breadcrumbs">
  <li><a href="#">HuntR</a></li>
  <li class="unavailable"><a>Candidat</a></li>
  <li class="current"><a>Process</a></li>
</ul>
