<section class="timeline">
  <!-- propa -->
  <div class="step propa row">
    <div class="columns info">
      <a href class="user">
        <span class="name">Username</span>
      </a>
      <time datetime="1426418045">15 mars 2015</time>
    </div>
    <div class="columns content">
      <form class="row collapse" action="">
        <div class="inner columns medium-9 large-10">
          <div class="row">
            <div class="columns small-6">
              <label for="">Date de proposition</label>
              <div class="row collapse">
                <div class="columns small-2">
                  <span class="prefix fi-calendar"></span>
                </div>
                <div class="columns small-10">
                  <input type="date">
                </div>
              </div>
            </div>
            <div class="columns small-6">
              <label for="">Salaire proposé</label>
              <div class="row collapse">
                <div class="columns small-10">
                  <input type="text">
                </div>
                <div class="columns small-2">
                  <span class="postfix fi-euro"></span>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="columns medium-12">
              <label for="">Evaluation</label>
              <input type="text" placeholder="A / B / C / D / E">
            </div>
          </div>
          <div class="row">
            <div class="columns medium-12">
              <label for="">Commentaire</label>
              <textarea name="" rows="3"></textarea>
            </div>
          </div>
        </div>
        <div class="actions columns medium-3 large-2">
          <button class="button tiny expand success">Action 1</button>
          <button class="button tiny expand">Action 2</button>
          <button class="button tiny expand alert">Action 3</button>
        </div>
      </form>
    </div>
  </div>
  <!-- /propa -->

  <!-- fp -->
  <div class="step fp row">
    <div class="columns info">
      <a href class="user">
        <span class="name">Username</span>
      </a>
      <time datetime="1426418045">15 mars 2015</time>
    </div>
    <div class="columns content">
      <form class="row collapse" action="">
        <div class="inner columns medium-9 large-10">
          <div class="row">
            <div class="columns small-12">
              <div class="row collapse">
                <div class="columns small-3 medium-3 large-2">
                  <span class="prefix">Note</span>
                </div>
                <div class="columns small-8 medium-9 large-10">
                  <input type="text" />
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="columns medium-12">
              <label for="">Evaluation</label>
              <input type="text" placeholder="A / B / C / D / E">
            </div>
          </div>
          <div class="row">
            <div class="columns medium-12">
              <label for="">Commentaire</label>
              <textarea name="" rows="3"></textarea>
            </div>
          </div>
        </div>
        <div class="actions columns medium-3 large-2">
          <button class="button tiny expand success">Action 1</button>
          <button class="button tiny expand">Action 2</button>
          <button class="button tiny expand alert">Action 3</button>
        </div>
      </form>
    </div>
  </div>
  <!-- /fp -->

  <!-- prequal -->
  <div class="step prequal row">
    <div class="columns info">
      <a href class="user">
        <span class="name">Username</span>
      </a>
      <time datetime="1426418045">15 mars 2015</time>
    </div>
    <div class="columns content">
      <form class="row collapse" action="">
        <div class="inner columns medium-9 large-10">
          <div class="row">
            <div class="columns medium-6">
              <label for="">Date d'appel</label>
              <div class="row collapse">
                <div class="columns small-2">
                  <span class="prefix fi-calendar"></span>
                </div>
                <div class="columns small-10">
                  <input type="date">
                </div>
              </div>
            </div>
            <div class="columns medium-6">
              <label for="">Date de rappel</label>
              <div class="row collapse">
                <div class="columns small-2">
                  <span class="prefix fi-calendar"></span>
                </div>
                <div class="columns small-10">
                  <input type="date" disabled >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="columns medium-6">
              <label for="">Status</label>
              <input type="text" placeholder="candidat / freelance / client final">
            </div>
            <div class="columns medium-6">
              <label for="">Poste</label>
              <input type="text" placeholder="back / front / full stack / chef de projet / ...">
            </div>
          </div>
          <div class="row">
            <div class="columns medium-12">
              <label for="">Principale technologies maîtrisées</label>
              <input type="text">
            </div>
          </div>
          <div class="row">
            <div class="columns medium-6 end">
              <label for="">Disponibilité</label>
              <div class="row collapse">
                <div class="columns small-2">
                  <span class="prefix fi-calendar"></span>
                </div>
                <div class="columns small-10">
                  <input type="date">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="columns medium-6">
              <label for="">Salaire actuel</label>
              <div class="row collapse">
                <div class="columns small-10">
                  <input type="text">
                </div>
                <div class="columns small-2">
                  <span class="postfix fi-euro"></span>
                </div>
              </div>
            </div>
            <div class="columns medium-6">
              <label for="">Prétentions</label>
              <div class="row collapse">
                <div class="columns small-10">
                  <input type="text">
                </div>
                <div class="columns small-2">
                  <span class="postfix fi-euro"></span>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="columns medium-12">
              <label for="">Evaluation</label>
              <input type="text" placeholder="A / B / C / D / E">
            </div>
          </div>
          <div class="row">
            <div class="columns medium-12">
              <label for="">Commentaire</label>
              <textarea name="" rows="3"></textarea>
            </div>
          </div>
        </div>
        <div class="actions columns medium-3 large-2">
          <button class="button tiny expand success">Action 1</button>
          <button class="button tiny expand">Action 2</button>
          <button class="button tiny expand alert">Action 3</button>
        </div>
      </form>
    </div>
  </div>
  <!-- /prequal -->

  <!-- source -->
  <section class="step source row">
    <div class="columns info">
      <a href class="user">
        <span class="name">Username</span>
      </a>
      <time datetime="1426418045">15 mars 2015</time>
    </div>
    <div class="columns content">
      <form class="row collapse" action="">
        <div class="inner columns medium-9 large-10">
          <div class="row">
            <div class="columns medium-12">
              <div class="row collapse">
                <div class="columns small-2 medium-1 large-2 ">
                  <span class="prefix fi-link hide-for-large-up"></span>
                  <span class="prefix show-for-large-up">Source</span>
                </div>
                <div class="columns small-10 medium-11 large-10">
                  <input type="url" placeholder="http://...">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="columns medium-6">
              <label for="">Nom</label>
              <input type="text">
            </div>
            <div class="columns medium-6">
              <label for="">Prénom</label>
              <input type="text">
            </div>
          </div>
          <div class="row">
            <div class="columns medium-12">
              <label for="">Contact</label>
            </div>
            <div class="columns medium-4">
              <div class="row collapse">
                <div class="columns small-2 medium-4">
                  <span class="prefix fi-telephone hide-for-large-up"></span>
                  <span class="prefix show-for-large-up">Fixe</span>
                </div>
                <div class="columns small-10 medium-8">
                <input type="tel" placeholder="+33 (0)1 ..." />
                </div>
              </div>
            </div>
            <div class="columns medium-4">
              <div class="row collapse">
                <div class="columns small-2 medium-4">
                  <span class="prefix fi-mobile-signal hide-for-large-up"></span>
                  <span class="prefix show-for-large-up">Mobile</span>
                </div>
                <div class="columns small-10 medium-8">
                <input type="tel" placeholder="+33 (0)6 ..." />
                </div>
              </div>
            </div>
            <div class="columns medium-4">
              <div class="row collapse">
                <div class="columns small-2 medium-4">
                  <span class="prefix fi-mail hide-for-large-up"></span>
                  <span class="prefix show-for-large-up">Email</span>
                </div>
                <div class="columns small-10 medium-8">
                <input type="email" placeholder="__@__" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="actions columns medium-3 large-2">
          <button class="button tiny expand success">Action 1</button>
          <button class="button tiny expand">Action 2</button>
          <button class="button tiny expand alert">Action 3</button>
        </div>
      </form>
    </div>
  </section>
  <!-- /source -->

</section>
