<div class="large-10 columns">
  <section class="timeline">
    <section class="step clearfix">
      <div class="info left">
        <img class="picture" src="http://placehold.it/30x30/0eafff/ffffff.png" />
        <a href class="user">
          <span class="name">User Name</span>
        </a>
        <time datetime="1426418045">15 mars 2015</time>
      </div>
      <div class="content left">
        <div class="row">
          <div class="large-4 columns">
            <label>Input Label
              <input type="text" placeholder="large-4.columns" />
            </label>
          </div>
          <div class="large-4 columns">
            <label>Input Label
              <input type="text" placeholder="large-4.columns" />
            </label>
          </div>
          <div class="large-4 columns">
            <div class="row collapse">
              <label>Input Label</label>
              <div class="small-9 columns">
                <input type="text" placeholder="small-9.columns" />
              </div>
              <div class="small-3 columns">
                <span class="postfix">.com</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>
<div class="large-2 columns">
  <a href="#" class="button tiny success small expand radius">Link 1</a>
  <a href="#" class="button tiny secondary small expand radius">Link 2</a>
  <a href="#" class="button tiny secondary small expand radius">Link 3</a>
</div>
