<div class="large-10 columns">
  <section class="timeline">
    <section class="step clearfix">
      <div class="info left">
        <img class="picture" src="http://placehold.it/30x30/0eafff/ffffff.png" />
        <a href class="user">
          <span class="name">Username</span>
        </a>
        <time datetime="1426418045">15 mars 2015</time>
      </div>
      <div class="content left">
        <form action="">
          <div class="row">
            <div class="large-12 columns">
              <label>Source de sélection
                <div class="row collapse">
                  <div class="small-3 large-2 columns">
                    <span class="prefix">http://</span>
                  </div>
                  <div class="small-9 large-10 columns">
                    <input type="url">
                  </div>
                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-6 columns">
              <label>Nom
                <input type="text" placeholder="" />
              </label>
            </div>
            <div class="large-6 columns">
              <label>Prénom
                <input type="text" placeholder="" />
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-4 columns">
              <label>Téléphone fixe
                <input type="tel" placeholder="+33 (0)1 ..." />
              </label>
            </div>
            <div class="large-4 columns">
              <label>Téléphone mobile
                <input type="tel" placeholder="+33 (0)6 ..." />
              </label>
            </div>
            <div class="large-4 columns">
              <label>Email
                <input type="email" placeholder="...@..." />
              </label>
            </div>
          </div>
        </form>
      </div>
    </section>
  </section>
</div>
<div class="large-2 columns">
  <a href="#" class="button tiny success small expand radius">Link 1</a>
  <a href="#" class="button tiny secondary small expand radius">Link 2</a>
  <a href="#" class="button tiny secondary small expand radius">Link 3</a>
</div>
