@import 'foundation/components/global';

//
// @variables
//
$color-base-timeline: $iron !default;

$spacing-timeline: rem-calc(16) !default;

$size-bullet-timeline: 40px !default;
$size-arrow-timeline: 5px !default;
$position-top-bullet-timeline: 0 !default;

$width-line-timeline: 4px !default;
$gutter-timeline: $size-bullet-timeline * 2 !default;

$color-background-content: $white !default;
$border-radius-content-timeline: 3px !default;
$shadow-content-timeline: 0 2px 1px hsla(0,0%,0%,.075), 0 -1px 1px hsla(0,0%,0%,.05) !default;

// We use this mixin to create a container around our breadcrumbs
@mixin timeline-container {
  max-width: rem-calc(1000);
  position: relative;
  margin: 20px auto 0;
  padding-left: $gutter-timeline;
  padding-right: $spacing-timeline;
}
@mixin timeline-step {
  position: relative;
  padding: 0 0 $spacing-timeline;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: $position-top-bullet-timeline;
    left: - ($gutter-timeline - ($size-bullet-timeline / 2));
    width: $size-bullet-timeline;
    height: $size-bullet-timeline;
    border: solid $width-line-timeline $color-base-timeline;
    font-size: rem-calc(25);
    text-align: center;
    color: $color-base-timeline;
    border-radius: 100%;
    background: $white;
    z-index: 1;

    // CC from foundation-icons
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    text-decoration: inherit;
  }

  &::after {
    content: '';
    width: $width-line-timeline;
    height: 100%;
    position: absolute;
    top: 0;
    left: - ($gutter-timeline / 2) - ($width-line-timeline / 2);
    background: $color-base-timeline;
  }
  &:last-child {
    padding-bottom: $spacing-timeline * 2;
  }
}
@mixin timeline-info {
  position: relative;
  margin-bottom: $spacing-timeline;

  time {
    display: block;
    font-size: rem-calc(14);
  }
}
@mixin timeline-content {
  .inner {
    margin: 0 0 $spacing-timeline;
    padding: $spacing-timeline 0 0;
    background: $color-background-content;
    border-radius: $border-radius-content-timeline;
    box-shadow: $shadow-content-timeline;
    position: relative;

    @media #{$medium-up} {
      margin-bottom: 0;
    }

    &::before {
      @include css-triangle($size-arrow-timeline, $white, bottom);
      position: absolute;
      bottom: 100%;
      left: $size-bullet-timeline / 2 - $size-arrow-timeline;
    }
  }
}

@include exports("timeline") {
  .timeline {
    @include timeline-container;

    .step {
      @include timeline-step;

      .info {
        @include timeline-info;
      }
      .content {
        @include timeline-content;
      }
      .actions {
        @media #{$medium-up} {
          padding-left: $spacing-timeline;
        }
      }
    }
  }
}
